.slide {
  display: flex;
  position: relative;
  top: -100px;
  &__table {
    td {
      padding-right: 65px;
    }
    &-string {
      font-size: 13px;
      line-height: 20px;
    }
    &-string--bold {
      font-size: 36px;
      line-height: 48px;
    }
  }
  &__button-details {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .text-container {
    margin-top: 75px;
    margin-left: 125px;
  }
  .img-container {
    margin-left: 90px;
  }
}
