.search-form {
  display: flex;

  border-bottom: 2px solid black;
  &__input {
    width: 330px;
    margin-left: 5px;
    background-color: $header-color;

    border: none;
    &::placeholder {
      color: #aea45a;
    }
  }
  &__button {
    text-transform: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    background-color: $header-color;

    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;

    padding: 8px 18px;

    &:hover {
      background-color: black;
      color: white;
    }
    &:active {
      color: #4c4c4c;
    }
  }
  &:before {
    content: "";
    display: block;
    position: relative;
    background-image: url("../img/svg/search.svg");
    width: 16px;
    height: 16px;
    top: 15px;
  }
}
